.amtitle {
    text-align: center;
    border-bottom: 3px solid #d1ad1f;
    margin-bottom: 10px;
}

.amside {
    text-align: center;
    border-left: 3px solid #d1ad1f;
    margin-bottom: 10px;
}

aside button {
    width: 100%;
}

button, input {
    display: block;
    margin: 8px auto;
}

.note {
    display: flex;
    margin: 10px 0;
    border: 3px solid #6da21c;
    justify-content: space-around;
    align-content: center;
}

.note :is(div) {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note :is(div) p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.note :is(button) {
    width: 20%;
    padding: 5px;
}